<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="margem">

            <div class="d-flex justify-between">
                <div>
                    <img
                        src="./assets/logo.png"
                        alt="logo" style="width:130px">
                </div>
                <div class="text-center"><h1>Demonstrativo de Repasse
                        Faturamento</h1></div>
                <div class="justify-between">
                    <span>Emitido</span>
                    <span>{{26/09/2023}}</span>
                </div>
            </div>

            <div>
                <h2 class="text-center">Comp. Geração: {{09-2023}}</h2>
            </div>


                    <h3>Contrato: {{226011100 - BIOENERGETICA VALE DO PARACATU
                        LTDA - 10326}}</h3>
                    <table>

                        <thead style="background-color: gray; color: white;">

                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Data Nasc.</th>
                                    <th>Módulo</th>
                                    <th>Tipo Valor</th>
                                    <th>Valor</th>
                                    <th>Valor a repassar</th>
                                </tr>

                        </thead>

                        <tbody>
                            <tr>
                                <td>2260111000009000</td>
                                <td>ANTONIO FERREIRA DE SOUZA</td>
                                <td>04/02/1970</td>
                                <td>466521120</td>
                                <td>Mensalidade</td>
                                <td>17,64</td>
                                <td>17,64</td>
                            </tr>
                            <tr style="background-color: rgba(128, 128, 128, 0.165);">
                                <td>2260111000009000</td>
                                <td>ANTONIO FERREIRA DE SOUZA</td>
                                <td>04/02/1970</td>
                                <td>466521120</td>
                                <td>Mensalidade</td>
                                <td>17,64</td>
                                <td>17,64</td>
                            </tr>
                            <tr>
                                <td>2260111000009000</td>
                                <td>ANTONIO FERREIRA DE SOUZA</td>
                                <td>04/02/1970</td>
                                <td>466521120</td>
                                <td>Mensalidade</td>
                                <td>17,64</td>
                                <td>17,64</td>
                            </tr>
                            <tr style="background-color: rgba(128, 128, 128, 0.165);">
                                <td>2260111000009000</td>
                                <td>ANTONIO FERREIRA DE SOUZA</td>
                                <td>04/02/1970</td>
                                <td>466521120</td>
                                <td>Mensalidade</td>
                                <td>17,64</td>
                                <td>17,64</td>
                            </tr>
                            <tr>
                                <td>2260111000009000</td>
                                <td>ANTONIO FERREIRA DE SOUZA</td>
                                <td>04/02/1970</td>
                                <td>466521120</td>
                                <td>Mensalidade</td>
                                <td>17,64</td>
                                <td>17,64</td>
                            </tr>
                        </tbody>
                        <tfoot><tr></tr></tfoot>
                    </table>

                    <table>
                        <thead>
                            <tr style="background-color: gray; color: white;">
                                <th>Totais do Contrato:</th>
                                <th>Mensalidade</th>
                                <th>Valor Retroativo</th>
                                <th>Inclusão</th>
                                <th>Deais Mov.</th>
                                <th>Demais Mov. Cadastrais</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Cobrados:</b>
                                </td>
                                <td>988,63</td>
                                <td>0,00</td>
                                <td>0,00</td>
                                <td>0,00</td>
                                <td>0,00</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>A repassar:</b>
                                </td>
                                <td>988,63</td>
                                <td>0,00</td>
                                <td>0,00</td>
                                <td>0,00</td>
                                <td>0,00</td>
                            </tr>
                        </tbody>
                        <tfoot><tr></tr></tfoot>
                    </table>

                    <table>
                        <thead>
                            <tr style="background-color: gray; color: white;">
                                <th>Totais por Tipo Beneficiário:</th>
                                <th>Módulo:</th>
                                <th>Quantidade:</th>
                                <th>Valor:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>Titular:</b>
                                </td>
                                <td>466521120</td>
                                <td>1</td>
                                <td>427,34</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Dependente Direito:</b>
                                </td>
                                <td>466521120</td>
                                <td>2</td>
                                <td>561,29</td>
                            </tr>
                        </tbody>
                        <tfoot><tr></tr></tfoot>
                    </table>

                    <table>
                        <thead>
                            <tr style="background-color: gray; color: white;">
                                <th>Total por Módulo:</th>
                                <th>Quantidade:</th>
                                <th>Valor:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <b>466521120</b>
                                </td>
                                <td>3</td>
                                <td>988,63</td>
                            </tr>
                        </tbody>
                        <tfoot><tr></tr></tfoot>
                    </table>
        </div>

        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }
        .margem
        {
            left: 3cm;
            right: 2cm;
            top: 3cm;
            bottom: 2cm;
        }
        .d-flex{
           display: flex;
        }

        .justify-between{
           justify-content: space-between;
        }
        .text-center{
           text-align: center;
        }

    </style>
        </body>
    </html>
