<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <div class="margem">
            <div class="d-flex justify-between">
                <div>
                    <img
                        src="./assets/logo.png"
                        alt="logo" style="width:130px">
                </div>
                <div class="text-center"><h1>SLIP</h1></div>
                <div class="justify-between">
                    <span>Emitido</span>
                    <span>{{26/09/2023}}</span>
                </div>
            </div>

            <div>
                <h2 class="text-center">Competência Financeira: {{08-2023}}</h2>
            </div>

            <div>
                <b>Contrato: 226019600</b> - BIOENERGETICA VALE DO PARACATU LTDA -
                10326
                <br>
                <b>Classe Contrato:</b> 10001 - COBR: PRE-PAGAMENTO Modelo
                <br>
                <b>Contrato:</b> 1 - PRE-PAGAMENTO
                <br>
                <b>Cód. Titular:</b> 2260196000006000 - ELI MIRANDA DA SILVA
                <br>
                <b>Beneficiário:</b> 2260196000006000 - ELI MIRANDA DA SILVA (00)
                <br>
                <b>Matrícula:</b> 02466 <b>Módulo Operadora:</b> 473671151 - PARTICIPATIVO
                EMPRESARIAL ENFERMARIA NACIONAL
            </div>

            <table>
                <thead style="background-color: gray; color: white;">
                    <tr>
                        <td><b>Prestador</b></td>
                        <td><b>Seq Item</b></td>
                        <td><b>Seq Cpos</b></td>
                        <td><b>Seq Doc<b></td></td>
                        <td><b>Porte Trt.</b></td>
                        <td><b>Qtde</b></td></td>
                        <td><b>Dt. Real.</b></td>
                        <td><b>Serviço</b></td>
                        <td><b>Tipo Serv</b></td>
                        <td><b>Classe Part.</b></td>
                        <td><b>Tipo Proc.</b></td>
                        <td><b>Tipo Part.</b></td>
                        <td><b>Total Cobr.</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RICARDO LUIS SILVA LOBO</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>5</td>
                        <td>1</td>
                        <td>05/08/2023 09:05</td>
                        <td>30306027 - Facectomia com lente intra-ocular com fa</td>
                        <td>Procedimento Aestesista</td>
                        <td></td>
                        <td>Hon.Cirur</td>
                        <td>Cir.</td>
                        <td>318,02</td>
                    </tr>
                </tbody>

                <thead style="background-color: gray; color: white;">
                    <tr>
                        <td><b></b>Evento</b></td>
                        <td><b>Lote</b></td>
                        <td><b>Evento Principal</b></td>
                        <td><b>Classif . Ext Evento</b></td>
                        <td><b>Gp. Ap.</b></td>
                        <td><b>Tipo Adm.</b></td>
                        <td><b>CID</b></td>
                        <td><b>Doc. Finan.</b></td>
                        <td><b>Contrato Financeiro</b></td>
                    </tr>
                </thead>
            </table>
        </div>

        <style>
        .margem
        {
            left: 3cm;
            right: 2cm;
            top: 3cm;
            bottom: 2cm;
        }
        .d-flex{
           display: flex;
        }

        .justify-between{
           justify-content: space-between;
        }
        .text-center{
           text-align: center;
        }
    </style>
    
    </body>
</html>
